<%- include('./layouts/head.ejs') %>
  <body>
    <%- include('./layouts/header.ejs') %>
    <form action="/add" method="post" class="form">
      <input type="text" name="title" />
      <input type="number" name="price" />
      <button>add</button>
    </form>
  </body>
</html>
