<%- include('./layouts/head.ejs') %>
  <body>
    <%- include('./layouts/header.ejs') %> 
    <div class="container">
      <% data.map(el=>{ %>
        <div class="product">
          <span><%= el.title %></span>
          <span><%= el.price %></span>
        </div>
        <% }) %>
    </div>
  </body>
</html>
