<header>
  <nav>
    <li>
      <a href="/view">view</a>
    </li>
    <li>
      <a href="/logIn">logIn</a>
    </li>
    <li>
      <a href="/signIn">signIn</a>
    </li>
    <li>
      <a href="/logout">log out</a>
    </li>
  </nav>
</header>
