<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('./layout/header.ejs') %>
    <form action=<%=signIn ? "/signIn" : "/login"%> method="post">
      <input type="text" name="email" placeholder="mail" />
      <input type="password" name="password" placeholder="password" />
      <%if(signIn){%>
      <input
        type="password"
        name="confirmPassword"
        placeholder="reEnter password"
      />
      <%}%>
    
      <button>create</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
    <h1><%=error%></h1>
    <%if(error){%>
      <h1>haii</h1>
    <%}%>
  </body>
</html>
