<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('./layout/header.ejs') %>
    <h1>haii</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolorum
      praesentium animi atque totam iste obcaecati non aspernatur illum neque
      nobis sunt odio iusto aperiam quasi ex, deserunt quibusdam temporibus.
    </p>
    <h1><%=user?.email %></h1>
  </body>
</html>
