<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/add">add-products</a>
      </li>
      <li>
        <a href="/admin">admin</a>
      </li>
    </ul>
  </nav>
</header>
