<header>
  <nav>
    <ul>
      <li class="<%= path=='/' ? 'active' : '' %>">
        <a href="/">home page</a>
      </li>
      <li class="<%= path=='/add' ? 'active' : '' %>">
        <a href="/add">Add products</a>
      </li>
    </ul>
  </nav>
</header>
