<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= docTitle%></title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <%- include('./includes/navBar.ejs') %>
    <div class="container">
      <% data.map((el)=>{ %>
      <p><%= el.title %></p>

      <% }) %>
    </div>
  </body>
</html>
